html {
    height:100%;
}

body {
    background-color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.menu-item {
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: rgb(233, 233, 233);
    margin: 5px;
}