@import "print_views/print_opieka";

@media print {
  .noprint {
    display: none;
  }
}

@page {
  margin: 0;
}

  body {
    margin: 1.3cm;
  }

  p {
    font-family: "Times New Roman", Times, serif;
  }

  input {
    font-family: "Times New Roman", Times, serif;
    border: none;
    font-weight: 600;
    font-size: 16px;
  }

  h1 {
    text-align: center;
  }

  h3 {
    font-style: italic;
    margin: 80px;
    font-size: 1.3em;
    text-align: center;
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .bold {
    font-weight: bold;
  }
  
  #company-informations {
    text-align: left;
    float: left;
    line-height: 18px;
  }

  #data {
    text-align: right;
    float: right;
  }

  #aktualna-data {
    width: 200px;
    font-style: italic;
    font-weight: normal;
    text-align: right;
  }

  #tytul {
    text-align: center;
  }

  #request-informations {
    text-align: left;
    float: left;
    line-height: 36px;
  }

  #vacation-day {
    font-weight: bold;
  }

  .vacation-day {
    font-weight: bold;
  }

  #termin-urlopu {
    font-weight: 600;
  }

  #imie-nazwisko {
    font-weight: 600;
  }

  #podpis-pracownika {
    margin: 150px 0;
    text-align: center;
  }

  #podpis-akceptacje {
    margin: 130px 0;
    text-align: center;
  }

  .tab-akceptacje {
    margin: auto;
  }

  .tab-akceptacje td {
    padding: 50px 0;
    text-align: right;
  }

  .igorny {
    vertical-align: super;
    font-size: 12px;
  }

  .text-stopka {
    font-size: 13px;
  }

  .kropki {
    margin-top: 6px;
    color: #ddd;
    vertical-align: bottom;
  }

  hr.thin {
    height: 1px;
    border-top: none;
    border-bottom: 1px solid #333333;
    transform: scaleY(0.33);
  }

  .pole-do-wypelnienia {
    width: 200px;
  }

  .pole-data {
    width: 79px;
    margin-left: 2px;
  }
